* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ofl';
    src: url(/fontes/RedHatText-Italic-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fonte01';
    src: url(/fontes/RedHatText-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'fonte01';
}

.box-lista {
    background-color: aqua;
    max-width: 46%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: -130px;
}

.titulo {
    
    margin-right: 50%;
    margin-bottom: 20px;
    margin-top: 10%;
}

.box-produto{
    margin-right: 40px;
    margin-bottom: 20px;
}

.img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-poroduto{
    width: 200px;
    border-radius: 15px;
}

.add-carrinho{
    width: 150px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: solid 1px rgb(165, 93, 10);
    color: rgb(165, 93, 10);
    background-color: white;
    margin-top: -23px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    z-index: 99;
}

.add-carrinho:hover{
    transform: scale(1.1);
}

.valor-box{
    margin-top: 10px;
}

.quantitade{
    width: 150px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: solid 1px rgb(165, 93, 10);
    color: rgb(255, 255, 255);
    background-color: rgb(165, 93, 10);
    margin-top: -43px;
    opacity: 0.0;
}

.menos-button{
    margin-left: 15px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.mais-button{
    margin-right: 15px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.menos-button:hover{
    transform: scale(1.5);
}

.mais-button:hover{
    transform: scale(1.5);
}
